body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
#root {
  height: 100vh;
  background: linear-gradient(340deg, rgba(229,92,138,1) 50%, rgba(240,98,146,1) 50%);
  display: flex;
  justify-content: center;
  
}